mkdir git_tes.pc{
  text-indent: 30px;
}

blockquote{
  text-transform: uppercase;
  text-align: right;
}

.box{

  width: 250px;
  min-height: 1800px;
  position: relative;
}

.box-like{
  border: rgba(0, 0, 0, 0.274) dashed 2px;
  position: absolute;
  text-align: center;
  top: 10%;
  width: 120px;
  padding: 35px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.486);
}

a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.274);

  margin-top: 30px;
  text-transform: uppercase;
}

a:hover{
  color: rgb(0, 0, 0);
}
